<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script> 

    <title> US Accidents </title>
    
    <script type="module" src="pieChart.js"></script>
    <link rel="stylesheet" type="text/css" href="pieChart.css">

  </head>

  <header class="Us-Accidents">
    <h1>US Accidents Visualizer</h1>
  <br>
    <div class="topnav">
      <a href="/">Home</a> 
      <a href="../heatMap">Heat Map</a>
      <a href="../pieChart">Pie chart</a>
      <a>Bar Graph</a>
      <a>Sankey diagram</a>
      <a>Contacts</a>
    </div>
  </header>

<body>
  <script src="pieChart.js"></script>
  <div class="fixed">
    <div id='download'>Download</div>
  </div>
  <div id="piechart"></div>

  <div id="menu">
			<ul>
				<li>
                   Armed Assault          
                     <input type='checkbox' name="Armed Assault" checked>     
                 </li>
                 <li>
                    Assasination          
                      <input type='checkbox' name="Armed Assault" checked>     
                  </li>
                  <li>
                    Car accidents          
                      <input type='checkbox' name="Armed Assault" checked>     
                  </li>
			</ul>
</div>


</body>
</html>
