html,body {
    max-width: 100%;
    overflow-x: hidden;
    margin-left: 3em;
    margin-right: 3em;
    background-color: black;
    color: orange;
}  

/* Code from alex */
.Us-Accidents {
    width: 100%;
    padding-top: 20px;
    float: center;
    text-align: center; 
    font-family: serif, Arial,sans-serif;
    font-size: 20px;
}

/* Code from alex */
.topnav a {
    width: 100%;
    padding: 13px 16px;
    font-size: 22px;   
    
    border-bottom-style: solid;
    border-color: white;
}
 
/* Code from alex */
.topnav a:hover { 
    color:white;
    background-color: #444444;
}

#mainWrapper {
    display: grid;
    grid-template-columns: 3fr 0.1fr 6fr;
}

#Tool {
    background-color: darkslateblue;
    color: black;
}

#Tool p {
    margin-bottom: 0;
    font-size: 0.75em;
}

#Severity {
    margin-bottom: 1em;
}

#AccidentsNumber input {
    margin-bottom: 1em;
}

#AccidentAfterDate {
    margin-top: 1em; 
} 

#AccidentBeforeDate {
    margin-top: 1em; 
} 

.dot1 {
    height: 0.5em;
    width: 0.5em;
    background-color: black;
    border-radius: 50%;
    display: inline-block; 
    margin-left: 1em;
    margin-right: 0.5em;
}

.dot2 {
    height: 1em;
    width: 1em;
    background-color: black;
    border-radius: 50%;
    display: inline-block; 
    margin-left: 0.75em;
    margin-right: 0.2em;
}

.dot3 {
    height: 1.5em;
    width: 1.5em;
    background-color: black;
    border-radius: 50%;
    display: inline-block; 
    margin-left: 0.5em;  
}

#mapWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 15fr 2fr;
}

button { 
    display: block;
    height: 3em;
    width: 3em;
    color: #fff;
    border-color: white;
    background-color: #363f4d; 
} 

.arrowsLR { 
    width: 100%;
    height: 24em; 
}

.arrowsUD { 
    width: 100%;
    height: 5em; 
}

#map {
    height: 20em;
    width: 100%;
}

@media only screen and (max-width: 900px) { 
    #mainWrapper { 
        display: flex;
        flex-direction: column;
    } 

    #legend {
        order: 2;
    }

    #mapContainer {
        order: 1;
    }

    #mapWrapper {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
    }

    html,body {
        max-width: 100%;
        overflow-x: hidden; 
        margin-left: 0em;
        margin-right: 0em;
        background-color: black;
        color: orange;
    } 

    /* Code from alex */
    .topnav, .Us-Accidents{ 
        float: none; 
    }
}