<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="home.css">
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script> 
  <title>Pagina Cosmin</title>
</head>

<body>
  <!-- Code from alex-->
  <header class="Us-Accidents">
    <h1>US Accidents Visualizer</h1>
  <br>
    <div class="topnav">
      <a>Home</a>
      <a>Contact</a>
      <a>About</a>
    </div>
  </header>
  <!-- End Code from alex-->

  <h2>My Map</h2> 
  <div id="mainWrapper">  

    <!-- Tool for manipulating and seeing data-->
    <div id="Tool">
      <form id="form" name="search" onsubmit="return makeSearch()" >
      <div id="Severity">
        <span> Choose Severity Level:</span>
        <br>
        <input type="checkbox" name="severity" value="4" checked>
          <span  style="color: #e22903;">
            4 (Red)
          </span>  
        <input type="checkbox" name="severity" value="3" checked>
          <span  style="color: #e29f03;">
            3 (Orange)
          </span>  
        <input type="checkbox" name="severity" value="2" checked>
          <span  style="color: #d7e203;">
            2 (Yellow)
          </span>  
        <input type="checkbox" name="severity" value="1" checked>
          <span  style="color: #6fe203;">
            1 (Green)
          </span>  
      </div> 
      
      <!-- <div id="AccidentsNumber">
        <span > Choose Number of Accidents: </span> 
        <br><input type="checkbox" value="le10k" checked> <span class="dot1"></span> <span> = &le; 10000 </span> 
        <br><input type="checkbox" value="between" checked> <span class="dot2"></span> <span> = (10000 - 100000) </span> 
        <br><input type="checkbox" value="ge1kk" checked> <span class="dot3"></span> <span> = &ge; 100000 </span> 
      </div> -->

      <div id="AccidentAfterDate"> 
        <span > Accidents that happened after: </span> 
        <select name="AfterDay" id="AfterDay"> 
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4">04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select> 
        <select name="AfterMonth" id="AfterMonth"> 
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4">04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select> 
        <select name="AfterYear" id="AfterYear"> 
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
        </select>  
      </div> 

      <p>(leave empty if field does not matter)</p> 

      <div id="AccidentBeforeDate"> 
        <span > Accidents that happened before: </span> 
        <select name="BeforeDay" id="BeforeDay"> 
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4">04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select> 
        <select name ="BeforeMonth" id="BeforeMonth"> 
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4">04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select> 
        <select name ="BeforeYear" id="BeforeYear"> 
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
        </select>  
      </div> 
      
      <p>(leave empty if field does not matter)</p>
      
      <input type="submit"/>
    </form>
    </div>  


    <!-- White space used by grid -->
    <span></span>

    <!-- Map render surrounded by buttons -->
    <div id="mapContainer">  
      <!-- Upper button -->
      <button class="button arrowsUD" onmousedown="moveAround(`up`)" onmouseup="stopMove()"> &uarr; </button> 

      <div id="mapWrapper"> 
        <!-- Left button -->
        <button class="button arrowsLR"  onmousedown="moveAround(`left`)" onmouseup="stopMove()"> &larr; </button> 
        
        <!-- Map render using openlayers api -->
        <div id="map" class="map"></div>  

        <!-- Right button -->
        <button class="button arrowsLR"  onmousedown="moveAround(`right`)" onmouseup="stopMove()"> &rarr; </button> 
      </div> 

      <!-- Lower button -->
      <button class="button arrowsUD" onmousedown="moveAround(`down`)" onmouseup="stopMove()">  &darr; </button>  
    </div> 
  </div>
  <div id="mouse-position">asdsad</div>
  <script id="script1" type="text/javascript" src="homeMapRenderer.js"></script> 
  <script id="script2" type="text/javascript" src="homeTools.js"></script> 
   
</body>
</html>