<html>

<head>
  <html lang="en">
  <meta charset="UTF-8">
  <link rel="icon"
    href="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="this is our site.">

  <title> US Accidents </title>

  <link rel="stylesheet" type="text/css" href="pieChart.css">

</head>

{topnav}

<body>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


  <div id="pieChart"></div>
  <script src="pieChart.js"></script>

  <a id="downloadCSV" href="#">Download CSV</a>
  <a id="download" href='#' onclick="downloadJPG()">Download JPG</a>

  <!-- Tool for manipulating and seeing data-->
  {tool}

</body>
{footer}

<br><br><br><br>

</html>