body {
    /* padding: 25px; */
    background-color: #222;
    color: white;
}

select {
  background: orange;
  color: black;
  padding: 5px;
  border: none;
  box-shadow: 0 5px 25px rgba(0,0,0,.5);
  -webkit-appearance: button;
  outline: none;
  border-radius: 8px;
}

select:hover{
  background: rgb(101, 182, 248);
}

button{
    padding: 5px;
    border-radius: 50%;
}