<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png">
  <link rel="stylesheet" type="text/css" href="home.css">
  <!-- css used only for map drag using mouse click -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
  <!-- js openLayers used for rendering map -->
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script> \
  <!-- js used for converting canvas to svg -->
  <script src="https://cdn.jsdelivr.net/npm/canvas2svg@1.0.16/canvas2svg.min.js"></script>
  <title>US Accidents Visualizer</title>
</head>

<body>
  {topnav}

  <div id="mainWrapper">  
    <!-- Search area where you can manipulate data -->
    <div id="SearchArea">
      <input   id="clusterNumber"   type="range" min="0" max="100" value="30" step="0.1">
      <button  id="createNewSearch" onclick="createNewSearch()"> New </button>
      <button  id="saveData"        onclick="saveData()"> Save </button>
      <button  id="loadData"        onclick="loadData()"> Load </button>
      <button  id="hideText"        onclick="OnOffText()"> Hide </button>
      {tool}
    </div>
     
    <span></span>
    <!-- Map render surrounded by buttons -->
    <div id="mapContainer">  
        <!-- Upper button -->
        <button class="button arrowsUD"> todo </button> 
   
        <!-- Map render using openlayers api -->
        <div id="map" class="map"></div>   

        <div id="DownloadArea"> 
          <a id="downloadPNG" download ="mapPNG">Download PNG</a>
          <a id="downloadCSV" download ="mapCSV.csv">Download CSV</a>
          <a id="downloadSVG" download ="mapSVG.svg">Download SVG</a>
        </div> 
    </div>
  </div>
  
  <div id="popup" style="height: 2.5em;"></div>
  <div class="loader"></div>

  {footer}
  <script id="mapScript" type="text/javascript" src="homeMapRenderer.js"></script>
  <script id="buttonEvents" type="text/javascript" src="homeButtonEvents.js"></script>
  <script id="downloadButtons" type="text/javascript" src="downloadButtons.js"></script>
</body>

</html>