<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="home.css">
  <!-- css used only for map drag using mouse click -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script> 
  <title>US Accidents Visualizer</title>
</head>

<body>
  <!-- Code from alex-->
  <header class="Us-Accidents">
    <h1>US Accidents Visualizer</h1>
  <br>

    {topnav}
  </header>
  <!-- End Code from alex-->
  <h2>My Map</h2> 
  <div id="mainWrapper">  
      <!-- Tool for manipulating and seeing data-->
     {tool}
    <span></span>
    <!-- Map render surrounded by buttons -->
    {mapContainer}
  </div>

  <div id="mouse-position">asdsad</div>

  </div>

      {footer}

</body>

</html>