<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png">
  <link rel="stylesheet" type="text/css" href="home.css">
  <!-- css used only for map drag using mouse click -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
  <!-- end of css -->
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script> 
  <title>US Accidents Visualizer</title>
</head>

<body>
  {topnav}
  
  <h2>My Map</h2> 
  <div id="mainWrapper">  
    <!-- Search area where you can manipulate data -->
    <div id="SearchArea">
      <button  id="createBlock" onclick="createBlock()"> new </button>
      {tool}
    </div>
     
    <span></span>
    <!-- Map render surrounded by buttons -->
    <div id="mapContainer">  
      <!-- Upper button -->
      <button class="button arrowsUD" onmousedown="moveAround('up')" onmouseup="stopMove()"> &uarr; </button> 
  
      <div id="mapWrapper"> 
        <!-- Left button -->
        <button class="button arrowsLR"  onmousedown="moveAround('left')" onmouseup="stopMove()"> &larr; </button> 
        
        <!-- Map render using openlayers api -->
        <div id="map" class="map"></div>  
  
        <!-- Right button -->
        <button class="button arrowsLR"  onmousedown="moveAround('right')" onmouseup="stopMove()"> &rarr; </button> 
      </div> 
  
      <!-- Lower button -->
      <button class="button arrowsUD" onmousedown="moveAround('down')" onmouseup="stopMove()">  &darr; </button>  
    </div>
  </div>

  <div id="mouse-position"></div>

  {footer}
  <script id="mapScript" type="text/javascript" src="homeMapRenderer.js"></script>
</body>

</html>